{#
 # This file is a part of __PROGRAM_NAME__ __PROGRAM_VERSION__
 #
 # __PROGRAM_COPYRIGHT__ __PROGRAM_AUTHOR__ __PROGRAM_AUTHOR_EMAIL__
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #
-#}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/columns3.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/forum.css"/>
  <script type="text/javascript" src="static/js/forum.js"></script>
</head>
<body onload="main();">

<div class="header">
  <a href="https://forum.sakh.com">inet</a>
  <a href="https://forum-beta.sakh.com">inet-beta</a>
  <hr/>
</div>

<div class="vertical-pad">&nbsp;</div>

<div class="layout">
  <div class="col3">&nbsp;</div>
  <div class="col2">

    <form action="javascript:void(forum.transTopicUrl());">
      Translate topic url
      <div id="forum-topic-in" class="in-layout">
        <input type="text" class="text-field-layout" />
      </div>
      Result
      <div id="forum-topic-out" class="out-layout">
        <input type="text" class="text-field-layout" />
      </div>
      <input type="submit" value="ok"/>
      <input type="reset" value="clear"/>
    </form>
    Status
    <div id="forum-topic-log" class="log-layout"><span></span></div>

    <div class="vertical-pad">&nbsp;</div>

    <form action="javascript:void(forum.transMsgPostUrl());">
      Translate message post url
      <div id="forum-msgpost-in" class="in-layout">
        <input type="text" class="text-field-layout" />
      </div>
      Result
      <div id="forum-msgpost-out" class="out-layout">
        <input type="text" class="text-field-layout" />
      </div>
      <input type="submit" value="ok"/>
      <input type="reset" value="clear"/>
    </form>
    Status
    <div id="forum-msgpost-log" class="log-layout"><span></span></div>

  </div>
  <div class="col1">&nbsp;</div>
</div>

<div class="vertical-pad">&nbsp;</div>

<div class="footer">
  &nbsp;
</div>

</body>
</html>
