{#
 # This file is a part of __PROGRAM_NAME__ __PROGRAM_VERSION__
 #
 # __PROGRAM_COPYRIGHT__ __PROGRAM_AUTHOR__ __PROGRAM_AUTHOR_EMAIL__
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #
-#}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/columns3.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/forum.css"/>
  <script type="text/javascript" src="static/js/forum.js"></script>
</head>
<body onload="forum_main();">

<div class="header">
  <a href="https://forum.sakh.com">inet</a>
  <a href="https://forum-beta.sakh.com">inet-beta</a>
</div>

<div class="layout">
  <div class="col3">
    <div class="forms-help-container">
      <div class="forms-help-header">
        Help
      </div>
      <div class="forms-help-info"></div>
    </div>
  </div>
  <div class="col2">

    <div class="forms-container">
      <div class="form1-container">
        <form action="javascript:void(forum_object.transTopicUrl());">
          Translate topic url
          <div id="forum-topic-in" class="in-layout">
            <input type="text" class="text-field-layout" />
          </div>
          Result
          <div id="forum-topic-out" class="out-layout">
            <input type="text" class="text-field-layout" />
          </div>
          <input type="submit" value="ok"/>
          <input type="reset" value="clear"/>
        </form>
        Status
        <div id="forum-topic-log" class="log-layout">
          <span></span>
        </div>
      </div>

      <div class="form2-container">
        <form action="javascript:void(forum_object.transMsgPostUrl());">
          Translate message post url
          <div id="forum-msgpost-in" class="in-layout">
            <input type="text" class="text-field-layout" />
          </div>
          Result
          <div id="forum-msgpost-out" class="out-layout">
            <input type="text" class="text-field-layout" />
          </div>
          <input type="submit" value="ok"/>
          <input type="reset" value="clear"/>
        </form>
        Status
        <div id="forum-msgpost-log" class="log-layout">
          <span></span>
        </div>
      </div>

      <div class="form3-container">
        <form action="javascript:void(forum_object.transMsgPostUrlToLikesUrl());">
          Translate message post url to message post likes url
          <div id="forum-msgpostlikes-in" class="in-layout">
            <input type="text" class="text-field-layout" />
          </div>
          Result
          <div id="forum-msgpostlikes-out" class="out-layout">
            <input type="text" class="text-field-layout" />
          </div>
          <input type="submit" value="ok"/>
          <input type="reset" value="clear"/>
        </form>
        Status
        <div id="forum-msgpostlikes-log" class="log-layout">
          <span></span>
        </div>
      </div>

      <div class="form4-container">
        <form action="javascript:void(forum_object.escapeUrlForMessage());">
          Escape url for message
          <div id="forum-escapeurl-in" class="in-layout">
            <input type="text" class="text-field-layout" />
          </div>
          Result
          <div id="forum-escapeurl-out" class="out-layout">
            <input type="text" class="text-field-layout" />
          </div>
          <input type="submit" value="ok"/>
          <input type="reset" value="clear"/>
        </form>
        Status
        <div id="forum-escapeurl-log" class="log-layout">
          <span></span>
        </div>
      </div>
    </div>

  </div>
  <div class="col1">
    <div class="forms-list-container">
      <div class="forms-list-header">
        Menu
      </div>
      <div class="forms-list-button"
           data-info="Translate topic url from new format to old format.">
        Topic
      </div>
      <div class="forms-list-button"
           data-info="Translate message url from new format to old format.">
        Message post
      </div>
      <div class="forms-list-button"
           data-info="Translate message url from old format to likes url in new format.">
        Message post likes
      </div>
      <div class="forms-list-button"
           data-info="Translate some url, escaping special characters like colon and semicolon.">
        Escape characters
      </div>
    </div>
  </div>
</div>

<div class="footer">
  &nbsp;
</div>

</body>
</html>
