/*
 * This file is a part of __PROGRAM_NAME__ __PROGRAM_VERSION__
 *
 * __PROGRAM_COPYRIGHT__ __PROGRAM_AUTHOR__ __PROGRAM_AUTHOR_EMAIL__
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Layout for header, three columns and footer */

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    z-index: 1;
}

.header-panel {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.header-panel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-links {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 3;
}

.layout { margin-top: 40px; overflow: hidden; }
.col1 { width: 19%; float: left; }
.col2 { width: 50%; float: right; }
.col3 { width: 30%; float: right; }
