/*
 * This file is a part of __PROGRAM_NAME__ __PROGRAM_VERSION__
 *
 * __PROGRAM_COPYRIGHT__ __PROGRAM_AUTHOR__ __PROGRAM_AUTHOR_EMAIL__
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/* Layout for forum forms menu */

.forms-list-header {
    font-size: large;
}

.forms-list-container {
    padding: 20px 0px;
}

.forms-list-button, .forms-list-button-pushed {
    margin: 3px 0px;
    padding: 3px 3px;
    width: 150px;
    height: 30px;
    border: 2px solid #000000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.forms-list-button {
    background: #11aa11;
}

.forms-list-button-pushed {
    background: #ffff00;
}


/* Layout for forum forms */

.forms-header {
    font-size: large;
}

.forms-container {
    padding: 20px 0px 20px 120px;
    min-height: 220px;
}

.form1-container, .form2-container, .form3-container {
    padding: 0px 0px 20px;
}


/* Layout for forum forms help */

.forms-help-header {
    font-size: large;
}

.forms-help-container {
    padding: 20px 0px;
}


/* Layout for forum fields */

.in-layout { width: 80%; }
.in-layout-small { width: 10%; }
.out-layout { width: 80%; }
.log-layout { width: 10%; border: 1px solid #000000; }
.text-field-layout { width: 100%; }


/* Layout for forum about */

.about {
    position: relative;
    cursor: pointer;
}

.about > .about-link {
    position: absolute;
    right: 10px;
    display: block;
}

.about > .about-version {
    position: absolute;
    right: 20px;
    display: none;
    padding: 3px;
    background: white;
    border: 1px solid #000000;
}
